html
	head
		title Create an account
	body
		h1 Create an account
		form(method='POST', action='/createaccount')
			p First name: 
				input(type='text', name='firstname')
			p Last name: 
				input(type='text', name='lastname')
			p Email: 
				input(type='email', name='email')
				input(type='submit', value='Create')