html
	head
		title Search User
		script(src="https://code.jquery.com/jquery-3.2.1.min.js")
		script.
			$('#searchbox').on('keyup', function() {
				console.log('Herro there');
			})

	body
		h1 Search User
		form(method='POST', action='/search')
			p Search name: 
				input#searchbox(type='text', name='name')
			p
				input(type='submit', value='Search')