html
	head
		title Search Form
	body
		h1 Search Form
		form(method='POST', action='/search')
			input(type='hidden', name='__method', value='POST')
			p Search name: 
				input(type='text', name='name')
			p
				input(type='submit', value='Search')