html
	head
		title Search Form
	body
		h1 Search Form
		form(method='POST', action='/users')
			input(type='hidden', name='__method', value='PUT')
			p First name: 
				input(type='text', name='name')
			p Last name: 
				input(type='text', name='name')
			p Email: 
				input(type='email', name='email')
			p Age: 
				input(type='number', name='age')
			p
				input(type='submit', value='Submit')